{% extends 'base.html.twig' %}

{% block body %}
    <h1>Batterypack</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ batteryPack.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ batteryPack.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ batteryPack.type }}</td>
            </tr>
            <tr>
                <th>Count</th>
                <td>{{ batteryPack.count }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
